$TTL 86400
@   IN  SOA ns.example.local. admin.example.local. (
        2024040101
        3600
        1800
        604800
        86400 )

@       IN  NS  ns.com.local.
ns.example.local. IN A 10.0.0.4

example.com.  IN NS ns.example.com.
ns.example.com. IN A 10.0.0.4
www.example.com. IN A 1.2.3.5
